@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
header{
  background-image: url(./assets/img/backgroundGeometricPatternGreen.png);
}
footer{
  background-image: url(./assets/img/backgroundGeometricPatternCarbon.png);
}
body{
  background-image: url(./assets/img/backgroundGeometricPattern.png);
}
@media only screen and (min-width:1500px){
  body {
      margin-left: 10vw;
      margin-right: 10vw;
      
  }
}
@media only screen and (min-width:1000px){
  body {
      margin-left: 5vw;
      margin-right: 5vw;
      
  }
}